outputs/
wandb/
**/__pycache__/
**/*.pyc
verl_checkpoints/
.nfs*
**/.ipynb_checkpoints
data_nq_hotpotqa/
data_addPrompt/
data/
/data_preprocess/data
train_grpo_16gpus_ours.sh
debug/
ossutil_output/
data_preprocess/data/
.DS_Store